
<div style="margin-left: 3%;margin-top: 3%;">
    
    <div><a routerLink="/requests">Back to list</a></div>
    <div>
        <label>Request ID: {{this.currReq.id}}</label>
    </div>
    
<div>
    <label>Subject: {{this.currReq.subject}}</label>
</div>
<div>
    <label>Type: {{this.currReq.type}}</label>
</div>
    <div>
        <label>Desciption: {{this.currReq.description}}</label>
    </div>
    
    <div>
        <label>Priority: {{this.currReq.priority}}</label>
    </div>

    <div>
        <label>Status: {{this.currReq.status}}</label>
    </div>
    
    <div>
        <label>Created At: {{this.currReq.created_at}}</label>
    </div>
    
</div>

